{% extends 'base.html.twig' %}
{% block body %}

<form method="POST" action= "/saveEdited">
<input type="hidden" name="id"   value= "{{animal.id}}" >
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" name="age" class="form-control" id="age" value= "{{animal.age}}" >
  </div>
  <div class="form-group">
    <label for="famille">Famille</label>
    <input type="text" name = "famille" class="form-control" id="famille" value= "{{animal.famille}}" >
  </div>
   <div class="form-group">
    <label for="nourriture">Nourriture</label>
    <input type="text" class="form-control" name= "nourriture" id="nourriture"  value= "{{animal.nourriture}}">
  </div>
   <div class="form-group">
    <label for="race">Race</label>
    <input type="text" class="form-control" name= "race" id="race" value= "{{animal.race}}" >
  </div>

  <button type="submit" class="btn btn-default">Enregistrer</button>
</form>
{% endblock  body%}